.tool_bar {
  max-width: 50px;
  background-color: var(--color-teal);
  padding: 10px 5px;

  display: flex;
  flex-direction: column;

  .option {
    margin: 5px 0;
    height: 40px;
    width: 40px;
    min-width: 40px;
    text-align: center;

    .icon {
      height: 28px;
      width: 28px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .selected,
  .selected:hover {
    background-color: var(--color-medium-teal);
    color: var(--color-black);
  }

  .color-selector {
    width: auto;
  }

  .size_button_container {
    display: flex;
    gap: 10px;
    align-items: center;

    .sizes {
      z-index: 1;
      padding: 0;
      min-width: 20px;
      height: 20px;
    }
  }
}
