.tool_bar {
  max-width: 50px;
  background-color: var(--color-teal);
  padding: 10px 5px;

  display: flex;
  flex-direction: column;

  .color-selector {
    width: auto;
    margin: 5px 0;
    height: 40px;
    border-radius: 12%;
  }

  .size_button_container {
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 1;
  }
}
