.eraser_cursor {
  position: absolute;
  pointer-events: none;

  border: 2px dotted var(--color-black);
  background-color: var(--color-white);
}

.fill_color_cursor {
  position: absolute;
  pointer-events: none;

  background-image: url("/icons/Fill.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.zoom_indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  padding: 2px;
}
